*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(46, 44, 40);
  display: flex;
  flex-direction: column;
  align-items: center;
}
form{
  font-family: sans-serif;
  font-size: 1.2rem;
  margin: 20px 0px;
  color: white;
}
.form-wrapper{
  background-color: #2f4138;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px #29282596;
}
.form-control > label{
  display: block;
}
.form-control > input,
.form-control > input:active
.form-control > input:focus{
  width: 100%;
  min-height: 30px;
  border-radius: 5px;
  outline: none;
  margin: 10px 5px;
  font-size: 15px;
  padding: 0 5px;
}
.button-wrapper{
  align-self: flex-end;
}
.button{
  padding: 5px 10px;
  font-size: 15px;

}
.error{
  font-size: 15px;
  color: #61e0f7;
  margin: 5px 20px;
}